JS_TOP=pminstallloc
JS_HOST=ccsasgrid01.corecompete.com
JS_ADMINS=sasinst
LSF_INSTALL=true
LSF_TOP=lsfinstallloc
LSF_ADMINS=sasinst
LSF_CLUSTER_NAME=sas_cluster
LSF_MASTER_LIST="ccsasgrid01.corecompete.com gridnodes"
LSF_ADD_SERVERS="ccsasgrid01.corecompete.com gridnodes"
LSF_ADD_CLIENTS="ccsasmid.corecompete.com"
SILENT_INSTALL=Y
LSF_SILENT_INSTALL_TARLIST=ALL
LSF_QUIET_INST=Y
